input[type="checkbox"] {
    --t-radius: 2px !important;
    --t-bg: var(--color-secondary) !important;
    --tui-text-primary-on-accent-1: var(--color-primary) !important;
    --t-bs: var(--color-primary) !important;
    --tui-border-hover: var(--color-secondary) !important;
    box-shadow: 0 0 0 2px var(--color-primary);
    background-color: var(--color-secondary) !important;

    &:checked {
        box-shadow: 0 0 0 2px var(--color-primary); /* Добавит тень для выделения */
    }
}

.checkbox-item {
    display: flex;
    justify-content: space-between;

    &__text {
        font-size: 18px;
        color: var(--text-primary);
    }
}
