tui-error {
    color: var(--color-error);
    font-size: 14px;
    margin-top: calc(-1 * var(--spacing-s));
    margin-bottom: var(--spacing-s);
}

button[tuiButton] {
    padding: var(--spacing-s) var(--spacing-m);
    font-size: 16px;
    background-color: var(--color-primary);
    color: var(--color-bg-page);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--color-active);
    }

    &:disabled {
        color: var(--color-text-primary);
        background-color: var(--color-text-secondary);
        cursor: not-allowed;
    }
}

tui-accordion {
    display: flex;
    flex: 1;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 12px var(--color-text-secondary);
}

tui-accordion-item {
    --t-group-radius: 0;

    .t-header {
        padding: 0 !important;
    }
}

tui-segmented {
    display: flex;
    justify-content: center;
    gap: var(--spacing-s);
    width: 100%;
    max-width: 1000px;
    background-color: var(--color-border);
    border-radius: var(--border-radius);
    padding: var(--spacing-s) 0;
    box-shadow: 0 4px 6px var(--color-text-secondary);
}

