<div class="page-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        
        <!-- Логин (Email) -->
        <tui-textfield class="tui-space_top-4">
            <label tuiLabel>Логин</label>
            <!-- Ошибка для логина будет отображена над полем -->
            <tui-error formControlName="login" [error]="[] | tuiFieldError | async">
            </tui-error>
            <input
                formControlName="login"
                tuiTextfield
                placeholder="Введите ваш логин"
            />
        </tui-textfield>
        
        <!-- Пароль -->
        <tui-textfield class="tui-space_top-4">
            <label tuiLabel>Пароль</label>
            <!-- Ошибка для пароля будет отображена над полем -->
            <tui-error formControlName="password" [error]="[] | tuiFieldError | async">
            </tui-error>
            <input
                formControlName="password"
                tuiTextfield
                type="password"
                placeholder="Введите ваш пароль"
            />
        </tui-textfield>
        
        <!-- Кнопка отправки -->
        <button tuiButton type="submit" [disabled]="loginForm.invalid">Войти</button>
    
    </form>
</div>
