<div class="page">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="page__form">
        
        <tui-textfield class="tui-space_top-4">
            <label tuiLabel>Логин</label>
            <tui-error formControlName="login" [error]="[] | tuiFieldError | async">
            </tui-error>
            <input
                formControlName="login"
                tuiTextfield
                placeholder="Введите ваш логин"
            />
        </tui-textfield>
        
        <tui-textfield class="tui-space_top-4">
            <label tuiLabel>Пароль</label>
            <tui-error formControlName="password" [error]="[] | tuiFieldError | async">
            </tui-error>
            <input
                formControlName="password"
                tuiTextfield
                type="password"
                placeholder="Введите ваш пароль"
            />
        </tui-textfield>
        
        <button tuiButton type="submit" [disabled]="loginForm.invalid">Войти</button>
    
    </form>
</div>
