<ion-content [fullscreen]="true">
    <section class="user-info">
        <h3>Макар</h3>
        <a>Изменить имя</a>
    </section>
    <section class="user-settings">
        <h3>Push-уведомления</h3>
        <div class="user-settings__container">
            <app-checkbox-item *ngFor="let setting of settings"
                               [name]="setting.name"
                               [isSelected]="setting.isSelected"
                               (click)="setting.isSelected = !setting.isSelected"
            >
            </app-checkbox-item>
        </div>
    </section>
    <section class="gallery">
        <h3>Галерея</h3>
        <app-gallery-component *ngIf="galleryImages$ | async as images; else loading"
                               [images]="images"></app-gallery-component>
        <ng-template #loading>
            <div class="loader">
                <ion-spinner name="crescent"></ion-spinner>
                <p>Загрузка изображений...</p>
            </div>
        </ng-template>
    </section>
</ion-content>
