section {
    padding: 8px 4px;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.user-settings {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-right: 24px;
    }
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 16px;
    background-color: var(--bg-color);
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    text-align: center;

    &__spinner {
        --size: 48px;
    }

    &__text {
        color: var(--text-secondary);
        font-size: 16px;
    }
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h3 {
    margin: 0;
    color: var(--color-primary);
    font-weight: 600;
    font-size: 20px;
}

a {
    color: var(--text-primary);
    font-size: 18px;
    text-decoration: underline;
}
