<app-accordion [open]="true">
    <ng-container header>
        <ng-content select="[accordionTitle]"></ng-content>
    </ng-container>
    <form class="form-layout" [formGroup]="form" (ngSubmit)="submit()">
        <h3 class="form-layout__title">
            <ng-content select="[formTitle]"></ng-content>
        </h3>
        <ng-content></ng-content>
        <button tuiButton type="submit" [disabled]="form.invalid" class="tui-space_top-4 form-layout__button">
            <ng-content select="[buttonText]"></ng-content>
        </button>
    </form>
</app-accordion>
