:root {
    /** шрифт приложения */
    --ion-font-family: 'Montserrat', sans-serif;
    /** фон прилоежния */
    --ion-background-color: #ffffff;

    --color-primary: #59C8D3;
    --color-secondary: #E6F7FF;
    --text-primary: #424242;
    --text-secondary: #868686;
    --bg-color: #FFFFFF;
    --chat-color: rgba(205, 196, 180, 0.5);
    --chat-placholder-color: rgba(66, 66, 66, alpha);
}
