:root {
    /** шрифт приложения */
    --ion-font-family: 'Montserrat', sans-serif;
    /** фон прилоежния */
    --ion-background-color: #ffffff;

    --color-primary: #59C8D3;
    --color-secondary: #E6F7FF;
    --text-primary: #424242;
    --text-secondary: #868686;
    --bg-color: #FFFFFF;
}
