/* Стили для страницы */
.page-container {
    background-color: #f8f9fa; /* Фон страницы */
    padding: 30px;
    max-width: 800px;
    margin: 0 auto; /* Центрирование */
    border-radius: 10px; /* Скругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

/* Стили для заголовка */
.form-title {
    font-size: 28px;
    font-weight: bold;
    color: #343a40; /* Темно-серый цвет */
    margin-bottom: 20px; /* Отступ снизу */
    text-align: center;
}

/* Стили для всей формы */
.edit-zoo-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 15px;
}

/* Отступы для полей ввода */
.edit-zoo-form .tui-textfield,
.edit-zoo-form .tui-textarea, {
    background-color: #ffffff; /* Белый фон */
    color: #495057; /* Темно-серый текст */
    border: 1px solid #ced4da; /* Цвет границы */
    border-radius: 4px; /* Скругленные углы */
    padding: 12px;
    width: 100%;
    font-size: 14px;
    margin-top: 15px;
}

/* Для инпутов внутри текстфилдов и текстарий */
.edit-zoo-form .tui-textfield input,
.edit-zoo-form .tui-textarea textarea {
    background-color: transparent; /* Прозрачный фон */
    border: none;
    outline: none;
    width: 100%;
}

/* Плейсхолдеры */
.edit-zoo-form .tui-textfield input::placeholder,
.edit-zoo-form .tui-textarea textarea::placeholder {
    color: #6c757d; /* Цвет текста в placeholder */
}

/* Стили для кнопки */
.edit-zoo-form button {
    background-color: #6c757d; /* Нейтральный серый фон */
    color: white; /* Белый текст */
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    margin-top: 20px; /* Отступ сверху для кнопки */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Плавный переход */
}

/* Наведение на кнопку */
.edit-zoo-form button:hover {
    background-color: #5a6268; /* Более темный серый при наведении */
}

/* Состояние нажатия */
.edit-zoo-form button:active {
    background-color: #4e555b; /* Еще темнее серый для состояния нажатия */
}

/* Стили для ошибок */
.tui-error {
    font-size: 12px;
    color: red;
    margin-top: 5px;
}

/* Пространство между полями формы */
.tui-space_top-4 {
    margin-top: 20px;
}

/* Пространство между полями формы для селектов */
.tui-select {
    margin-top: 20px;
}

textarea {
    margin-top: 8px;
}

/* Стили для label */
.edit-zoo-form label {
    font-weight: 600;
    color: #495057;
    margin-bottom: 8px;
    display: block;
}
