section {
    padding: 0 8px;
}

h2 {
    font-weight: bold;
    font-size: 22px;
    color: var(--color-primary);
    letter-spacing: 0.5px;
    margin-top: 16px;
    margin-bottom: 8px;
}

.news-item-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
