.chat {
    height: 100%;
    display: flex;
    flex-direction: column;

    .chat-scroll {
        flex: 1;
    }

    .chat-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .chat-messages {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .message {
        display: flex;
        flex-direction: column;
        max-width: 70%;
        padding: 10px;
        border-radius: 8px;
        position: relative;

        &.message-user {
            align-self: flex-end;
            background-color: var(--color-secondary);
        }

        &.message-system {
            align-self: flex-start;
            background-color: var(--color-secondary);
        }

        &.images {
            max-width: 100%;
        }
    }

    .message-content {
        display: flex;
        flex-direction: column;
    }

    .message-timestamp {
        font-size: 0.8rem;
        color: #868686;
        margin-top: 5px;
        align-self: flex-end;
    }

    .image-group {
        display: flex;
        gap: 10px;
        overflow-x: auto;
        padding: 5px;
        scrollbar-width: thin;

        img {
            border-radius: 8px;
            max-height: 100px;
            cursor: pointer;
        }
    }
}
