<div class="page-container">
    <h3 class="form-title">Создание зоопарка</h3>
    <form [formGroup]="createZooForm" (ngSubmit)="onSubmit()" class="create-zoo-form">
        
        <!-- Название зоопарка -->
        <tui-textfield class="tui-space_top-4">
            <label tuiLabel>Название зоопарка</label>
            <tui-error formControlName="zooName" [error]="[] | tuiFieldError | async"></tui-error>
            <input
                formControlName="zooName"
                tuiTextfield
                placeholder="Введите название зоопарка"
            />
        </tui-textfield>
        
        <!-- Местоположение -->
        <tui-textfield class="tui-space_top-4">
            <label tuiLabel>Местоположение</label>
            <tui-error formControlName="zooLocation" [error]="[] | tuiFieldError | async"></tui-error>
            <input
                formControlName="zooLocation"
                tuiTextfield
                placeholder="Введите местоположение"
            />
        </tui-textfield>
        
        <!-- Описание зоопарка -->
        <tui-textarea formControlName="zooDescription" class="tui-space_top-4">
            <label tuiLabel>Описание зоопарка</label>
            <tui-error formControlName="zooDescription" [error]="[] | tuiFieldError | async"></tui-error>
            <textarea
                placeholder="Описание зоопарка"
                tuiTextfieldLegacy
            ></textarea>
        </tui-textarea>
        
        <!-- Контактная информация -->
        <tui-textarea formControlName="zooContact" class="tui-space_top-4">
            <label tuiLabel>Контактная информация зоопарка</label>
            <tui-error formControlName="zooContact" [error]="[] | tuiFieldError | async"></tui-error>
            <textarea
                placeholder="Контактная информация зоопарка"
                tuiTextfieldLegacy
            ></textarea>
        </tui-textarea>
        
        <!-- Кнопка отправки -->
        <button tuiButton type="submit" [disabled]="createZooForm.invalid" class="tui-space_top-4">
            Создать зоопарк
        </button>
    </form>
</div>
