<ng-template [(tuiPreviewDialog)]="open">
    <tui-preview>
        <tui-preview-title>{{ images[index].title }}</tui-preview-title>
        <tui-preview-pagination
            [length]="images.length"
            [(index)]="index"
        />
        <button
            iconStart="@tui.share"
            tuiIconButton
            tuiPreviewAction
            type="button"
            (click)="share()"
        >
            Поделиться
        </button>

        <button
            iconStart="@tui.download"
            tuiIconButton
            tuiPreviewAction
            type="button"
            (click)="download()"
        >
            Скачать
        </button>
        <button
            iconStart="@tui.x"
            tuiIconButton
            tuiPreviewAction
            type="button"
            (click)="close()"
        >
            Закрыть
        </button>

        <img
            *polymorpheusOutlet="images[index].src as src"
            alt="preview"
            [src]="src"
        />
    </tui-preview>
</ng-template>
