<div class="contacts">
    <p>Мы находимся в центре Екатеринбурга на улице <strong>Мамина-Сибиряка, 189</strong></p>
    <p>Телефон для справок <strong>+7 (343) 215-98-04</strong></p>
    <p>Дети не достигшие 5 лет — <strong>Бесплатно</strong></p>
    <p>Дети от 5 до 18 лет, студенты РФ очной формы обучения, граждане РФ, достигшие возраста: женщины 55 лет, мужчины 60 лет — <strong>250р</strong></p>
    <p>Взрослые — <strong>500р</strong></p>
    <p><strong>Льготы предоставляются при предъявлении подтверждающего документа</strong></p>
</div>
