<div class="images">
    <tui-scrollbar>
        <div class="attached-images">
            <div class="image-preview" *ngFor="let image of fileStorageService.images(); let i = index">
                <div class="loader" *ngIf="image.loading"></div>
                <img [src]="image.preview" alt="Preview" (click)="openImg(image, i)" />
                <button class="remove-button" (click)="onRemove(i)">✕</button>
            </div>
        </div>
        <ng-container *ngIf="status() as stat">
            <zoo-preview-image [images]="images()" [index]="stat.index" [(open)]="open"/>
        </ng-container>
    </tui-scrollbar>
</div>
