<zoo-image-list/>
<form class="input-container">
    <div class="icon-left">
        <zoo-image-upload/>
    </div>
    <textarea
        placeholder="Сообщение"
        [(ngModel)]="questionText"
        name="questionText"
        #input
        (input)="adjustElementHeight()"
        rows="1">
    </textarea>
    <div class="icon-right">
        <tui-icon
            [class.disable]="!questionText"
            class="send-icon"
            icon="assets/taiga-ui/icons/send-horizontal.svg"
            (click)="send()"
        />
    </div>
</form>
